<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="BlocksExplorer.ZPM"><Module>
 <Name>BlocksExplorer</Name>
  <Version>2.2.1</Version>
  <Packaging>module</Packaging>
  <SourcesRoot>server/src</SourcesRoot>
  <Resource Name="Blocks.PKG"/>
  <CSPApplication
    SourcePath="/web/build"
    DeployPath="${cspdir}/blocks"
    Url="/blocks"
    CookiePath="/blocks/"
    Recurse="1"
    PasswordAuthEnabled="0"
    UnauthenticatedEnabled="1"
    MatchRoles=":%ALL"
    DispatchClass="Blocks.Router"
    />
</Module>
</Document></Export>
